{% assign image_src = include.thumb | default: include.full -%}
<a class="doc-image" href="{{ include.full | relative_url }}" data-doc-image>
  <img src="{{ image_src | relative_url }}"
    alt="{{ include.alt }}"
    class="doc-img"
    loading="lazy"
    decoding="async"
    {% if include.width %}
      width="{{ include.width }}"
    {% endif %}
    {% if include.height %}
      height="{{ include.height }}"
    {% endif %}>
  <span class="doc-image-zoom" aria-hidden="true">
    <i class="fa-solid fa-magnifying-glass-plus"></i>
  </span>
</a>
