
<footer class="mt-4">
  <!-- Footer container -->
  <div class="container">
    <div class="row mt-4 justify-content-center">
      <!-- Logo and resume -->
      <div class="col-md-4 ms-5 mb-3">
        <img class="mb-3" src="{{ '/assets/images/logo.png' | relative_url }}" alt="YGN logo" height="25">
        <p>Material Design is an adaptable system of guidelines, components, and tools that support the best practices of user interface design. Backed by open-source code, Material Design streamlines collaboration between designers and developers, and helps teams quickly build beautiful products.</p>
      </div>
      <!-- Logo and resume -->

      <!-- Social -->
      <div class="col-md-1 ms-auto ms-2 mb-3">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy"><i class="fa-brands fa-github"></i> Github</li></a>
        </ul>
      </div>
      <!-- Social -->

      <!-- Products -->
      <div class="col-md-1 ms-2 mb-3">
        <h5>Products</h5>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy">Effects</a></li>
        </ul>
      </div>
      <!-- Products -->

      <!-- Links -->
      <div class="col-md-2 ms-2 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy">Contact</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Service</a></li>
        </ul>
      </div>
      <!-- Links -->
    </div>
  </div>
  <!-- Footer container -->
</footer>