<footer>
  <div class="container">
    <div class="row py-4">
      <div class="col-md-6">
        <h5>YGN Effects</h5>
        <p class="mb-0">Open-source hardware for guitar effects</p>
      </div>
      <div class="col-md-6 text-md-end">
        <div class="mb-2">
          <a href="https://github.com/ygn-effects" target="_blank" class="me-3">
            <i class="fab fa-github fa-lg"></i> GitHub
          </a>
        </div>
        <p class="small mb-0 opacity-75">
          Hardware: {{ site.data.licenses.hardware.name }} | Software: {{ site.data.licenses.software.name }} | Docs: {{ site.data.licenses.docs.name }}
        </p>
      </div>
    </div>
  </div>
</footer>
